incomingDir = "./data/incoming"
outgoingDir = "./data/outgoing"

cmdsInputDir = '.\data\cmds'
# 10 seconds (milliseconds)
jobPollInterval = 10000
# 10 minutes (milliseconds)
inputFilesReconciliationInterval = 600000

[logConfig]
logLevel = 'info'
logDir = './logs'

[serverConfigs]
[[serverConfigs.server1]]
copyTo = "/home/username/apps/ffmpeg/work/videos"
[[serverConfigs.server2]]
copyTo = "/home/username/stuff/ffmpeg/incoming"
